#!/bin/bash
{{ ansible_managed | comment }}
# {{ tomcat_name }}  Start up Tomcat Server
#
# chkconfig: 2345 55 25
# description: Tomcat is a JEE application container. \
#              This service starts up {{ tomcat_name }}.

### BEGIN INIT INFO
# Provides: {{ tomcat_name }}
# Required-Start: $local_fs $network
# Required-Stop: $local_fs $syslog
# Should-Start: $syslog
# Should-Stop: $network $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start up {{ tomcat_name }}
# Description:       Tomcat is a JEE application container.
#                    This service starts up {{ tomcat_name }}.
### END INIT INFO

# source function library
. /etc/rc.d/init.d/functions

prog="{{ tomcat_name }}"
user="{{ tomcat_user }}"

{% if tomcat_use_native_daemon
      and tomcat_version is version("7", ">=") %}
export JAVA_HOME={{ tomcat_java_home }}
export CATALINA_HOME={{ tomcat_home }}
export CATALINA_BASE={{ tomcat_base }}
export TOMCAT_USER={{ tomcat_user }}
{% endif %}

PID_FILE="{{ tomcat_base }}/{{ tomcat_pid_file }}"

start()
{
        echo -n $"Starting $prog: "
{% if tomcat_use_native_daemon
      and tomcat_version is version("7", ">=") %}
        su $user -s /bin/bash {{ tomcat_base }}/bin/daemon.sh start && success > /dev/null || failure
{% else %}
        su $user -s /bin/bash {{ tomcat_base }}/bin/startup.sh && success > /dev/null || failure
{% endif %}
        RETVAL=$?
        echo
        return $RETVAL
}

stop()
{
        echo -n $"Stopping $prog: "
{% if tomcat_use_native_daemon
      and tomcat_version is version("7", ">=") %}
        su $user -s /bin/bash {{ tomcat_base }}/bin/daemon.sh stop > /dev/null
{% else %}
        su $user -s /bin/bash {{ tomcat_base }}/bin/shutdown.sh > /dev/null
{% endif %}
        RETVAL=$?
        rm -Rf $PID_FILE
        echo
        return $RETVAL
}

restart() {
        stop
        sleep {{ tomcat_restart_seconds }}
        start
}

rh_status() {
        status -p $PID_FILE $prog
}

rh_status_q() {
        rh_status >/dev/null 2>&1
}

case "$1" in
        start)
                rh_status_q && exit 0
                start
                ;;
        stop)
                if ! rh_status_q; then
                        exit 0
                fi
                stop
                ;;
        restart)
                restart
                ;;
        status)
                rh_status
                RETVAL=$?
                ;;
        *)
                echo $"Usage: $0 {start|stop|restart|status}"
                RETVAL=2
esac
exit $RETVAL