{
  "version": {{ tomcat_version | to_json }},
  "base": {{ tomcat_base | to_json }},
  "home": {{ tomcat_home | to_json }},
  "state": {{ tomcat_state | to_json }},
  "use_native_daemon": {{ tomcat_use_native_daemon | to_json }},
  "use_native_apr_library": {{ tomcat_use_native_apr_library | to_json }},
  "user": {{ tomcat_user | to_json }},
  "group": {{ tomcat_group | to_json }},
  "java_home": {{ tomcat_java_home | to_json }},
  "java_variables": {{ tomcat_java_variables | to_json }},
  "java_raw_opts": {{ tomcat_java_raw_opts | to_json }},
  "server_port": {{ tomcat_server_port | to_json }},
  "server_http_port": {{ tomcat_server_http_port | to_json }},
  "server_https_port": {{ tomcat_server_https_port | to_json }},
  "server_ajp_port": {{ tomcat_server_ajp_port | to_json }},
  "server_autodeploy": {{ tomcat_server_autodeploy | to_json }}
}