---
# Default variables for the [{{ group_name }}] group

# System settings
ntp_server: {{ ntp_server | default('time.nist.gov') }}
timezone: {{ timezone | default('UTC') }}
max_open_files: {{ max_open_files | default(65536) }}

# Security settings
security_policy: {{ security_policy | default('strict') }}

# Application settings
app_path: {{ app_path | default('/opt/myapp') }}
app_user: {{ app_user | default('myappuser') }}
app_group: {{ app_group | default('myappgroup') }}

# Database settings
db_host: {{ db_host | default('localhost') }}
db_port: {{ db_port | default(5432) }}
db_user: {{ db_user | default('myappdbuser') }}
db_name: {{ db_name | default('myappdb') }}

# Environment specific settings
{% if env == 'production' %}
debug_mode: false
{% else %}
debug_mode: true
{% endif %}
