# Ansible Inventory Host File Template

# The 'all' group contains every host.
[all]
{% for host in groups['all'] %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] | default(host) }} ansible_user={{ hostvars[host]['ansible_user'] | default('root') }}
{% endfor %}

# Group specific hosts
{% for group in groups.keys() %}
{% if group != 'all' and group != 'ungrouped' %}
[{{ group }}]
{% for host in groups[group] %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] | default(host) }} ansible_user={{ hostvars[host]['ansible_user'] | default('root') }}
{% endfor %}
{% endif %}
{% endfor %}

# Group variables
{% for group in groups.keys() %}
{% if group != 'all' and group != 'ungrouped' and groupvars[group] %}
[{{ group }}:vars]
{% for var, value in groupvars[group].items() %}
{{ var }}={{ value }}
{% endfor %}
{% endif %}
{% endfor %}

# Host-specific variables
{% for host in groups['all'] %}
{% if hostvars[host] %}
[{{ host }}:vars]
{% for var, value in hostvars[host].items() %}
{{ var }}={{ value }}
{% endfor %}
{% endif %}
{% endfor %}
