---
# Ansible playbook template to execute a specific role
- name: Execute Ansible Role {{ role_name }}
  hosts: {{ target_hosts | default('all') }}
  become: {{ become | default('yes') }}
  gather_facts: {{ gather_facts | default('yes') }}

  vars:
    {% if role_vars is defined %}
    {% for key, value in role_vars.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
    {% endif %}

  tasks:
    - name: Include {{ role_name }} role
      include_role:
        name: "{{ role_name }}"
      {% if role_parameters is defined %}
      vars:
        {% for key, value in role_parameters.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
      {% endif %}
      {% if role_tags is defined %}
      tags: "{{ role_tags }}"
      {% endif %}
      {% if role_when is defined %}
      when: "{{ role_when }}"
      {% endif %}
