# Role Name: {{ role_name }}

## Description

{{ role_description | default('A brief description of the role goes here.') }}

## Requirements

No specific requirements.

## Role Variables

Below is a list of default values along with a description for each variable.

{% for variable in role_variables %}
- `{{ variable.name }}`: {{ variable.description | default('No description provided') }} (default: `{{ variable.default | default('None') }}`)
{% else %}
- No variables are defined by default.
{% endfor %}

## Dependencies

{% if dependencies %}
{% for dependency in dependencies %}
- {{ dependency }}
{% endfor %}
{% else %}
- No dependencies.
{% endif %}

## Example Playbook

Including an example of how to use your role:

```yaml
- hosts: servers
  roles:
    - { role: {{ role_name | lower }}, x: 42 }