---
# Ansible Collections Requirements File Template
{% if collections %}
collections:
{% for collection in collections %}
  - name: {{ collection }}
{% if collection.version is defined %}
version: "{{ collection.version }}"
{% endif %}
{% if collection.source is defined %}
source: "{{ collection.source }}"
{% endif %}
{% endfor %}
{% else %}
# No collections specified
collections: []
{% endif %}
